@import "./bootstrap/less/bootstrap.less";

@controversialRed: #A11;
@newOrange: #C60;
@popularGreen: #6C9;
@unpopularGray: #999;

@margin: 12px;
@padding: 12px;

h1,h2,h3,h4,h5,h6 {
  font-family: "Bitter";
}

.navbar {
  .navbar-inner {
    .border-radius(0);
    height: 50px;
    line-height:50px;
    h1.brand { 
      font-size:48px;
      color: @white;
    }  
  }
}

body.home {
  .motion-row {
    & + .motion-row { margin-top: @margin; }
    .point {
      background: @gray;
      color:@white;
      
    }
    .motion, .point { padding:10px; color: @white;
      &.new {
        background: @newOrange;
      }
      &.controversial {
        background: @controversialRed;
      }
      &.popular {
        background: @popularGreen;
      }
      &.unpopular {
        background: @unpopularGray;
      }
    }
  }
}