@import "../bootstrap/less/bootstrap.less";

h1,h2,h3,h4,h5,h6 {
  font-family: "Bitter";
}

.navbar {
  .navbar-inner {
    #gradient.vertical(#C00, #A00);
    .border-radius(0);
    height: 50px;
    line-height:50px;
    h1.brand { 
      font-size:48px;
      color: @white;
    }  
  }
}